.i-pad-pro113-container {
  min-height: 100vh;
}
.i-pad-pro113-i-pad-pro113 {
  width: 100%;
  height: 834px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1194px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(18, 212, 255, 1);
}
.i-pad-pro113-frame3 {
  top: 26px;
  left: 150px;
  width: 895px;
  height: 146px;
  display: flex;
  padding: 52px 11px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(243, 219, 9, 1);
}
.i-pad-pro113-text {
  color: rgba(12, 49, 244, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-pad-pro113-frame4 {
  top: 238px;
  left: 62px;
  width: 1070px;
  height: 522px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.i-pad-pro113-frame5 {
  top: 32px;
  left: 211px;
  width: 665px;
  height: 137px;
  display: flex;
  padding: 16px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(251, 229, 30, 1);
}
.i-pad-pro113-text02 {
  color: rgba(15, 68, 253, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-pad-pro113-navlink {
  display: contents;
}
.i-pad-pro113-frame6 {
  top: 215px;
  left: 173px;
  width: 219px;
  height: 94px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(251, 229, 30, 1);
}
.i-pad-pro113-text04 {
  color: rgba(5, 30, 252, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-pad-pro113-navlink1 {
  display: contents;
}
.i-pad-pro113-frame7 {
  top: 207px;
  left: 694px;
  width: 219px;
  height: 94px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(251, 229, 30, 1);
}
.i-pad-pro113-text06 {
  color: rgba(5, 30, 252, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-pad-pro113-navlink2 {
  display: contents;
}
.i-pad-pro113-frame9 {
  top: 372px;
  left: 173px;
  width: 219px;
  height: 94px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(251, 229, 30, 1);
}
.i-pad-pro113-text08 {
  color: rgba(5, 30, 252, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-pad-pro113-navlink3 {
  display: contents;
}
.i-pad-pro113-frame8 {
  top: 372px;
  left: 694px;
  width: 219px;
  height: 94px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(251, 229, 30, 1);
}
.i-pad-pro113-text10 {
  color: rgba(5, 30, 252, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
