.i-pad-pro1110-container {
  min-height: 100vh;
}
.i-pad-pro1110-i-pad-pro1110 {
  width: 100%;
  height: 834px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1194px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(18, 212, 255, 1);
}
.i-pad-pro1110-frame14 {
  top: 75px;
  left: 98px;
  width: 997px;
  height: 426px;
  display: flex;
  padding: 140px 0;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.i-pad-pro1110-text {
  color: rgba(235, 27, 27, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.i-pad-pro1110-navlink {
  display: contents;
}
.i-pad-pro1110-frame15 {
  top: 593px;
  left: 419px;
  width: 360px;
  display: flex;
  padding: 30px 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(231, 229, 229, 1);
}
.i-pad-pro1110-text2 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 64px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
